@media (max-width: 600px) {
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;

    }

    /* stylings for navigation */
    nav {
        position: absolute;
        height: 10%;
        width: 100%;
        background: #3C3A39;
        display: flex;
        justify-content: space-between;
    }
    .logo-container {
        display: flex;
        align-items: center;
        margin-left: 3%;
        margin-top: 3%;
        color:#FFFFFF;

    }
    .hamberger-btn {
        display: block;
        font-size: 25px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
    }

}