@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* stylings for navigation */
nav {
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-top: 2.6%;
  padding-left: 3%;
  color: #fff;
  background-color: #3c3a39;
}

#logo,
#ham {
  background-color: #3c3a39;
  color: #fff;
}
#logo {
  font-family: 'Roboto';
  color: white;
}


.hamberger-btn {
  background-color: #3c3a39;
  display: block;
  font-size: 25px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

.section {
  background-color: #1c1a19;
  height: 100%;
  

}

.container {
  position: relative;
  background: url(Img/illustration-header-mobile.png);
  background-repeat: no-repeat;
  /* background-position: right bottom; */
  background-position-y: 185px;
  background-attachment: fixed;
  background-size: 25%;
  background-position: right bottom;
  padding-top: 10%;
  flex-grow: 1;
  height: 100vh;
 
  
}

#my_name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 535%;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  padding-top: 18%;
  padding-left: 5%;
  align-items: center;
}

#title {
  color: #fff5e1;
  padding-left: 5%;
  padding-top: 3%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

#describe_me {
  color: #fff;
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-size: 90%;
  padding-left: 5%;
  padding-top: 3%;
}

.socialIcons {
  display: flex;
  padding-left: 8%;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
  list-style-type: none;
  margin-top: 32px;
}



@media screen and (min-width: 768px) {
  .hamberger-btn {
    display: none;
  }
  .container {
    background-image: none;
  }

  #my_name {
    padding-top: 0%;
  }

  #design {
    top: 35%;
    float: right;
  }
}

@media screen and (min-width: 541px) {
  .container {
    background-size: 20%;
    background-position-y: bottom;
  }


}
@media screen and (min-width: 600px) {
  .container {
    background-size: 15%;
    background-position-y: bottom;
  }


}

