@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* stylings for navigation */
nav {
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-top: 2.6%;
  padding-left: 3%;
  color: #fff;
  background-color: #3c3a39;
}

#logo,
#ham {
  background-color: #3c3a39;
  color: #fff;
}

#logo {
  font-family: "Roboto", sans-serif;
  color: white;
}

.hamberger-btn {
  background-color: #3c3a39;
  display: block;
  font-size: 25px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

.section {
  background-color: #1c1a19;
  height: 100%;
}

.container {
  position: relative;
  background: url(Img/illustration-header-mobile.png);
  background-repeat: no-repeat;

  /* background-position: right bottom; */
  background-position-y: 185px;
  background-size: 25%;
  background-position: right bottom;
  padding-top: 10%;
  flex-grow: 1;
  height: 100vh;
  background-attachment: fixed;
}

#my_name {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 350%;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  padding-top: 18%;
  padding-left: 5%;
  align-items: center;
}

#title {
  color: #fff5e1;
  padding-left: 5%;
  padding-top: 3%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
}

#describe_me {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 5%;
  padding-top: 3%;
  font-size: 87%;
}

.socialIcons {
  display: flex;
  padding-left: 8%;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
  list-style-type: none;
  margin-top: 32px;
}

#recent {
  font-size: 230%;
  padding-top: 18.9%;
  padding-bottom: 5%;
  padding-left: 9%;
  font-family: "Crete Round", sans-serif;
  color: #1c1a19;
}

.grid-container {
  padding: 5px;
  display: grid;
  text-align: center;
  row-gap: 4%;
  size: 10%;
}

.grid-item {
  padding: 4px;
}

#rImg {
  padding-top: 9%;
  padding-left: 4.5px;
  width: 89%;
}

.works {
  background: none;
  margin-left: -12px;
}

#dash {
  width: 85%;
  margin-left: 34px;
  margin-top: 26px;
  margin-bottom: 70px;
  
}

#paragraph-title {
  font-size: 190%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 5%;
  font-family: "Crete Round", sans-serif;
  color: #091e42;
  
}

.skills {
  display: flex;
  justify-content: space-around;
  padding-left: 5.5%;
  padding-bottom: -15px;
  width: 93%;
  color: #091e42;
}

.skills li {
  padding: 3.5%;
  font-family: 'Inter', sans-serif;
  border-spacing: 4%;
  border: 1px solid #8993a4;
}

#multi {
  text-align: left;
  font-size: 105%;
  font-family: "Inter", sans-serif;
  margin-left: 9%;
  color: #091e42;
}


.prof {
  padding-top: 25%;
  color: #fff;
  margin-left: 8%;
}

.grid-element {
 
  margin-left: 0%;
}

#see-button {
  margin-top: 6.7px;
  margin-left: -20px;
  padding: 10px;
  background-color: #ff6b00;
  color: #fff;
  border-color: #ff6b00;
}

#see-button:hover {
  background-color: hsl(40, 100%, 94%);
  border: solid #ff6b00;
  color: #ff6b00;
}

#prof_title {
  font-family: "Crete Round", sans-serif;
  font-size: 180%;
  margin-left: -7%;
}

#pitems {
  font-family: "Inter", sans-serif;
  padding: 3.6px;
}

.para {
  padding-top: 4%;
  font-size: 100%;
  margin-left: -7%;
}

.second-grid {
  padding: 10%;

  /* padding: 5p */
  display: grid;
  row-gap: 4%;
  background-image: url(Img/Img\ Placeholder.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 93%;
}

.lans {
  display: flex;
  margin-left: -7%;
  padding-left: 1.5%;
  padding-bottom: 15px;
}

.lans li {
  font-family: 'Inter', sans-serif;
  padding: 2%;
  margin-right: 15%;
  background-color: rgba(255, 255, 255, 0.24);
  margin-left: 0;
}

#see_button {
  display: block;
  border: none;
  background: #ff6b00;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 93%;
}

#see_button:hover {
  background-color: hsl(40, 100%, 94%);
  border: solid #ff6b00;
  color: #ff6b00;
}



#about_me {
  font-family: 'Crete Round', sans-serif;
  color: #ff6b00;
  font-size: 350%;
  padding-left: 10%;
  padding-top: 10%;
}

#describe_me_again {
  font-family: 'Inter', sans-serif;
  padding-left: 10%;
  color: #f4f5f7;
  font-weight: 400;
  font-size: 87%;
  padding-top: 4%;
  line-height: 125%;
  width: 93%;
}

.resume {
  padding-left: 10%;
  padding-top: 5%;
}

#resume {
  padding: 12px;
  background-color: #ff6b00;
  color: #fff;
  border-color: #ff6b00;
  font-family: 'Inter', sans-serif;
}

#resume:hover {
  background-color: hsl(40, 100%, 94%);
  border: solid #ff6b00;
  color: #ff6b00;
}

#design2 {
  position: relative;
  background: url(Img/USEIT.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right bottom;
  height: 40%;
  margin-bottom: 5%;
}

.tools {
  background-color: #1c1a19;
  font-family: "Inter", sans-serif;
  height: 100vh;
  padding-top: 5%;
  padding-left: 18%;
  margin-bottom: 30%;
}

.tool_grid {
  display: grid;
}

.tool_grid_item {
  color: white;
}

.tool_grid_item ul {
  padding-left: 15%;
}

.tool_grid_item li {
  padding: 10px;
  font-family: "Inter", sans-serif;
}

.final {
  height: 100vh;
}

.final_grid {
  display: grid;
  padding-left: 10%;
  margin-top: -15%;
}

.final_grid_item {
  grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr;
}

.final_grid h3 {
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #172b4d;
  font-size: 170%;
}

.login-box {
  padding-top: 15%;
}

.login-box .user-box input {
  font-family: "Inter", sans-serif;
  width: 90%;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  outline: none;
  background: transparent;
}

.login-box a:hover {
  background-color: white;
  color: #1c1a19;
  border-radius: 0.5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
}

#textarea {
  font-family: "Inter", sans-serif;
  font-style: italic;
  color: #3c3139;
  padding-top: 2%;
  padding-right: 30%;
  background: #fbf8f7;
  width: 90%;
  line-height: 25px;
  border: 0;
}

#touch {
  font-size: 100%;
  padding: 12px;
  width: 55%;
  background-color: #ff6b00;
  color: #fff;
  border-color: #ff6b00;
  font-family: "Inter", sans-serif;
  letter-spacing: 3%;
}

#touch:hover {
  background-color: hsl(40, 100%, 94%);
  border: solid #ff6b00;
  color: #ff6b00;
}

.touch {
  padding-top: 5%;
  padding-left: 30%;
}

.ficons {
  padding-left: 30%;
}

.dashed {
  padding-top: 9%;
  padding-left: 39%;
  padding-bottom: 5%;
}

#dashed {
  width: 45%;
}
input {
  text-align: center;
  
}
::webkit-input-placeholder {
    text-align: start;
}

@media screen and (min-width: 768px) {
  .hamberger-btn {
    display: none;
  }

  .container {
    background-image: none;
  }

  #my_name {
    padding-top: 0%;
  }

  #design {
    top: 35%;
    float: right;
  }
}

@media screen and (min-width: 541px) {
  .container {
    background-size: 20%;
    background-position-y: bottom;
  }

  .ficons {
    padding-top: 8%;
  }

  #design2 {
    background-size: 23%;
    background-position-y: bottom;
  }
}

@media screen and (min-width: 600px) {
  .container {
    background-size: 15%;
    background-position-y: bottom;
  }
}




.projects {
  margin: 30% 10px 10px 10px;
}

.recent-project-name {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  margin: 15px 0;
}

.recent-project-img {
  width: 100%;
  margin-top: 15%;
}

.recent-project {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: #fff;
  padding-left: 15px;
}

.recent-project-note {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #091e42;
  margin-bottom: 20px;
}

.recent-project-tech {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  list-style: none;
}

.recent-project-tech-used {
  border: 1px solid #babfc9;
  padding: 5px 12px;
}

.see-recent-project {
  background-color: #ff6b00;
  color: #fff;
  padding: 10px 20px;
  border: none;
}
